# bin folder
bin/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so


# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out

# debug information files
*.dwo

# vim files
*.swp
*.swo
*.un
*~
